@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Buenos Aires, Argentina
</address>

<address>
    <strong>Support:</strong> <a href="khriz:eduardochristianhuanca63@gmail.com">eduardochristianhuanca63@gmail.com</a><br />
    
</address>
